<div class="container"
     style="margin-bottom: 50px; background-color:#fff; padding: 0; padding-right: 20px; border-radius: 5px;">
    <div class="row">
        <div class="col-md-12 container-tab">
            <tabset>

                <tab [heading]="'Dados do Local'">
                    <app-establishments-form-data></app-establishments-form-data>
                </tab>
                <tab [heading]="'Dados de Endereço'">
                    <app-establishments-form-address></app-establishments-form-address>
                </tab>
                <tab [heading]="'Horarios de Funcionamento'">
                    <app-establishments-form-schedule></app-establishments-form-schedule>
                </tab>
            </tabset>
        </div>
    </div>
</div>