<div class="wrapper"  *ngIf="user == true">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel" >
        <!-- <navbar-cmp></navbar-cmp> -->
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <!-- <footer-cmp></footer-cmp> -->
    </div>
</div>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->


<div class="content" *ngIf="user == false">
    <router-outlet></router-outlet>
</div>