<div class="content table-responsive table-full-width">
  <table class="table table-striped">
    <thead class="thead">
    <tr>
      <th >Nome</th>
      <th >Descrição</th>
      <th >Opções</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of Establishments">

      <th>{{ row.nome }}</th>
      <th>{{ row.desc }}</th>
      <th>
        <a class="btn btn-default btn-fill btn-xs" href="{{ row.id }}">Editar</a>
        <a class="btn btn-danger btn-fill btn-xs" href="{{ row.id }}">Excluir</a>
      </th>
    </tr>
    </tbody>
  </table>
</div>