<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nova SubCategoria</h4>
                    </div>
                    <div class="content">
                        <form #subCategorieForm="ngForm" (ngSubmit)="onSubmit(subCategorieForm.value)" >
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select class="form-control border-input" [(ngModel)]="SubCategorie.id_categoria" name="id_categoria" >
                                            <option>Selecione</option>
                                            <option *ngFor="let row of Categories" value="{{ row.id }}"> {{ row.nome }} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Nome SubCategoria</label>
                                        <input type="text" class="form-control border-input" placeholder="" [(ngModel)]="SubCategorie.nome" name="nome" >
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-fill btn-wd">Cadastrar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>