<div class="card">
    <div class="header">
        <h5 class="title">Horarios</h5>
        <small>Cadastre aqui o funcionamento semanal do Estabelecimento</small>
    </div>
    <div class="content">
        <form [formGroup]="form" (submit)="onSubmit(form.value)">
            <div class="row">
                <div class="col-lg-12" *ngFor="let i of itens" >
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <label>{{i.label}}</label>
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-8" [formGroupName]="i.dia">
                        <label>Horario de abrir:</label>
                        <input type="time" formControlName="aberto"
                               name="aberto" class="form-control border-input hour" max="{{maxTime | date:'HH:mm:ss'}}">
                        <label>Horario de fechar:</label>
                        <input type="time"  formControlName="fechado"
                               name="fechado"  class="form-control border-input hour" max="{{maxTime | date:'HH:mm:ss'}}">
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-success btn-fill btn-wd"
                            title="Salve os dados para continuar o cadastro">Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
