<div class="card">
    <div class="header">
        <h5 class="title">Endereço</h5>
        <small>Cadastre aqui o endereço do Estabelecimento</small>
    </div>
    <div class="content">
        <form #addressForm="ngForm" (ngSubmit)="onSubmit(addressForm.value)" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">CEP:</label>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <input type="phone" [textMask]="{mask: maskCep}" class="form-control border-input" [(ngModel)]="Address.cep" name="cep"
                                   (change)="buscar($event)" required minlength="8" #cep="ngModel">
                            <input type="hidden" [(ngModel)]="Address.id" name="id">

                            <div *ngIf="cep.invalid && (cep.dirty || cep.touched)"
                                 class="alert alert-danger" style=" background-color: #FFFFFF !important;">
                                <div *ngIf="cep.errors.required">
                                    Informe um cep.
                                </div>
                                <div *ngIf="cep.errors.minlength">
                                    O cep do Estabelecimento deve ter pelo menos 8 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Cidade:</label>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <!-- <select2 [data]="Cities" class="select2"></select2> -->
                            <input type="text" class="form-control border-input" placeholder=""
                                   [(ngModel)]="Address.cidade" name="cidade" required minlength="4" #cidade="ngModel">

                            <div *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)"
                                 class="alert alert-danger" style=" background-color: #FFFFFF !important;">
                                <div *ngIf="cidade.errors.required">
                                    Informe uma cidade.
                                </div>
                                <div *ngIf="cidade.errors.minlength">
                                    A cidade do Estabelecimento deve ter pelo menos 4 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Rua:</label>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <!-- <select2 [data]="Streets" class="select2"></select2> -->
                            <input type="text" class="form-control border-input" placeholder=""
                                   [(ngModel)]="Address.rua" name="rua" required minlength="4" #rua="ngModel">

                            <div *ngIf="rua.invalid && (rua.dirty || rua.touched)"
                                 class="alert alert-danger" style=" background-color: #FFFFFF !important;">
                                <div *ngIf="rua.errors.required">
                                    Informe uma rua.
                                </div>
                                <div *ngIf="rua.errors.minlength">
                                    A rua do Estabelecimento deve ter pelo menos 4 caracteres.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Bairro:</label>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <!-- <select2 [data]="Neighborhoods" class="select2"></select2> -->
                            <input type="text" class="form-control border-input" placeholder=""
                                   [(ngModel)]="Address.bairro" name="bairro" required #bairro="ngModel">

                            <div *ngIf="bairro.invalid && (bairro.dirty || bairro.touched)"
                                 class="alert alert-danger" style=" background-color: #FFFFFF !important;">
                                <div *ngIf="bairro.errors.required">
                                    Informe um bairro.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Número:</label>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <input type="phone" class="form-control border-input" placeholder="" [(ngModel)]="Address.numero"
                                   name="numero" required #numero="ngModel">

                            <div *ngIf="numero.invalid && (numero.dirty || numero.touched)"
                                 class="alert alert-danger" style=" background-color: #FFFFFF !important;">
                                <div *ngIf="numero.errors.required">
                                    Informe um numero.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Complemento: <small>(opcional)</small></label>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <input type="text" class="form-control border-input" placeholder="" [(ngModel)]="Address.complemento"
                                   name="complemento" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success btn-fill btn-wd" title="Salve os dados para continuar o cadastro" [disabled]="!addressForm.valid">Salvar</button>
            </div>
        </form>
    </div>
</div>
