/* You can add global styles to this file, and also import other style files */
.card{
    color: grey;
}
.thead{
    color: #DD0330;
}
.select2{
    width: 100%;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.hour{
    width: 10%;
    display: inline-block;
}