/* You can add global styles to this file, and also import other style files */
.card{
    color: grey;
}
.thead{
    color: #DD0330;
}
.select2{
    width: 100%;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.hour{
    padding-right: 0px;
    width: 10%;
    display: inline-block;
}

.form-control {
    background-color: #ffffff;
}

.switch.switch-medium.checked{
    background-color: rgb(175, 34, 34) !important;
}
.switch.switch-medium{
    background-color: rgb(12, 155, 19) !important;
}


::ng-deep .alert-danger {
    background-color: #FFFFFF !important;
}