<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Novo Estabelecimento</h4>
                    <br>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form-horizontal" novalidate (ngSubmit)="saveEstablishment()">
                                <div class="col-lg-6 col-md-6">
                                    <div class="card">
                                        <div class="header">
                                            <h5 class="title">Dados do Local</h5>
                                        </div>
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Categoria:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <select2 [data]="Categories" class="select2"></select2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">SubCategoria:</label>
                                                        <div class="col-sm-7 col-md-7 col-lg-8">
                                                            <select2 [data]="SubCategories" class="select2"  name="id_subcategoria"></select2>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>
                                            <div class="row">    
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Nome:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <input type="text" class="form-control border-input" name="data.nome" placeholder="" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">    
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Descrição:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <input type="text" class="form-control border-input" name="desc" placeholder="" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">    
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label" >Logo:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <input type="file" name="imagem">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">    
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Email:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <input type="text" class="form-control border-input" name="email" placeholder="" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">    
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Facebook:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <input type="text" class="form-control border-input" name="facebook" placeholder="" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">    
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Instagram:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <input type="text" class="form-control border-input" name="instagram" placeholder="" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="card">
                                        <div class="header">
                                            <h5 class="title">Endereço</h5>
                                        </div>
                                        <div class="row">    
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-4 col-lg-3 control-label">CEP:</label>
                                                    <div class="col-sm-8 col-md-8 col-lg-9">
                                                        <input type="phone" [textMask]="{mask: maskCep}" class="form-control border-input" placeholder="00000-00" [(ngModel)]="cep.cep" name="cepp" [ngModelOptions]="{standalone: true}" (change)="buscar()">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Cidade:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <!-- <select2 [data]="Cities" class="select2"></select2> -->
                                                            <input type="text" class="form-control border-input" placeholder="" [(ngModel)]="cep.cidade" name="cidade" [ngModelOptions]="{standalone: true}" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Rua:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <!-- <select2 [data]="Streets" class="select2"></select2> -->
                                                            <input type="text" class="form-control border-input" placeholder="" [(ngModel)]="cep.logradouro" name="logradouro" [ngModelOptions]="{standalone: true}">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">    
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Bairro:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <!-- <select2 [data]="Neighborhoods" class="select2"></select2> -->
                                                            <input type="text" class="form-control border-input" placeholder=""  [(ngModel)]="cep.bairro" name="bairro" [ngModelOptions]="{standalone: true}">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">    
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Número:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <input type="phone" class="form-control border-input" placeholder=""  name="numero" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">    
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-md-4 col-lg-3 control-label">Complemento: </label>
                                                        <div class="col-sm-8 col-md-8 col-lg-9">
                                                            <input type="text" class="form-control border-input" placeholder="" name="complemento"  >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="card">
                                        <div class="header">
                                            <h5 class="title">Horarios de funcionamento</h5>
                                        </div>
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <label> Domingo:</label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                    </div>
                                                    <div class="col-sm-7 col-md-7 col-lg-8" *ngIf="domingo">
                                                        <label>Horario de abrir:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                        <label>Horario de fechar:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <label> Segunda Feira:</label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                    </div>
                                                    <div class="col-sm-7 col-md-7 col-lg-8" *ngIf="segunda">
                                                        <label>Horario de abrir:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                        <label>Horario de fechar:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <label> Terça Feira:</label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                    </div>
                                                    <div class="col-sm-7 col-md-7 col-lg-8" *ngIf="terca">
                                                        <label>Horario de abrir:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                        <label>Horario de fechar:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <label> Quarta Feira:</label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                    </div>
                                                    <div class="col-sm-7 col-md-7 col-lg-8" *ngIf="quarta">
                                                        <label>Horario de abrir:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                        <label>Horario de fechar:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <label> Quinta Feira:</label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                    </div>
                                                    <div class="col-sm-7 col-md-7 col-lg-8" *ngIf="quinta">
                                                        <label>Horario de abrir:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                        <label>Horario de fechar:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <label> Sexta Feira:</label>
                                                    </div>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                    </div>
                                                    <div class="col-sm-7 col-md-7 col-lg-8" *ngIf="sexta">
                                                        <label>Horario de abrir:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                        <label>Horario de fechar:</label>
                                                        <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                                            <label> Sabádo:</label>
                                                        </div>
                                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                                        </div>
                                                        <div class="col-sm-7 col-md-7 col-lg-8" *ngIf="sabado">
                                                            <label>Horario de abrir:</label>
                                                            <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                            <label>Horario de fechar:</label>
                                                            <input type="text" [textMask]="{mask: mask}" class="form-control border-input hour" placeholder="00:00" >
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-success btn-fill btn-wd">Cadastrar</button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>        
            </div>
        </div>    
    </div>
</div>